html {
  /* px means "pixels". The base font size is 10px. */
  font-size: 20px;
  /* font-family: PLACEHOLDER; */
  font-family: "Roboto", sans-serif;
  background-color: lightblue;
}

body {
  width: 600px;
  margin: 10px auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 3px solid rgb(118, 118, 118);
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 10px 0 20px 0;
  padding: 40px 0;
  color: black;
  text-shadow: 3px 3px 1px rgb(173, 173, 173);
}

h3 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

p,
li {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 5px 5px 10px rgb(75, 75, 75);
}
